[submodule "tensorflow/models"]
	path = tensorflow/models
	url = https://github.com/tensorflow/models
[submodule "semantic_segmentation"]
	path = semantic_segmentation
	url = https://github.com/sithu31296/semantic-segmentation
