# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

# exclude data from source control by default

# ipynb checkpoints
.ipynb_checkpoints

# VS-Code workspace
*.code-workspace


# Latex auxiliary files
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.xdv
*.out
*-blx.bib
*.ini
*.ttt
*.lomap
*.efcodebox
*.pygtex
*.pygstyle
*.listing
*.pyg
*.pdf
*.toc

*.png
*.jpg
*.ttf
*.docx
*.gdoc
*.psd
*.drawio
*.dtmp
*.xlsx
*.gif


/tmp/

# Models
*.pth


# Media files
*.jpg
*.gif
*.svg
*.json
*.avi


# DVC
data/processed/unity_residential_interiors
data/raw/unity_residential_interiors
data/raw/dataset1


# Virtual Environment
/.venv/

# Latex
/.texlive/


